

<% tfetch(Monster, monst); %>

    <tr>
      <!-- pika -->
      <!-- <td class="chmr"> <img src="http://img2.wikia.nocookie.net/__cb20101101164123/es.pokemon/images/4/44/Pikachu_espalda_G5.gif" alt="" /> </td> -->
      <!-- polywhirl -->
      <td class="chmr"> <img src="http://www.oocities.org/tokyo/blossom/9377/Koffing_Misc/Poliwhirl.gif" alt="" /> </td>
      <!-- human -->
      <td class="pika"> <img src="https://files.gamebanana.com/img/ico/sprays/pokemon_running_side_animated.gif" alt="" /> </td>
      <!-- charmander -->
      <!-- <td class="chmr"> <img src="http://fc02.deviantart.net/fs70/f/2011/174/0/d/charmander_by_sageraziel-d3jt9kq.gif" alt="" /> </td> -->
      snakething
      "https://pa1.narvii.com/6642/bcd71eb8ca74a8af0561b54e82a8d531e04af48e_128.gif"
      "http://www.animatedimages.org/data/media/118/animated-robot-image-0014.gif"
      "http://www.oocities.org/kevins_killa_gifs/warrior01.gif"
      "https://orig00.deviantart.net/b32d/f/2017/038/1/2/1259aba8597166d46af82ded72f254f3-dayaa7q.gif"
      "http://i5.photobucket.com/albums/y196/kramwartap/Jaseiken%20Necromancer/JN_nails_animate_zpsabgvt50e.gif~original"
      "http://ludumdare.com/compo/wp-content/uploads/2015/09/BAD-MUSHROOM-walk2.gif"
      "http://francoisegamma.computersclub.org/gifs/genie_e0.gif"
      "http://buttonshy.com/championland/PL-TDBG/TrexJump.gif"
      "https://orig00.deviantart.net/f150/f/2016/077/b/0/dark_souls_3___red_knight_by_zedotagger-d9vknnd.gif"
      "https://mobilegamegraphics.com/pvpaterno/pixel_aliens_gif/wall_trap.gif"
      "http://3.bp.blogspot.com/_IrdEB7DnyGc/Si76otEI4LI/AAAAAAAAALA/xtrxZSWWz2E/s400/sword-kirby.gif"
      "https://orig00.deviantart.net/de7a/f/2016/345/c/d/super_mario_run_by_t_free-daraj8q.gif"
      "http://media.giphy.com/media/3o85xFeUIuMDHsLmFi/giphy.gif"
      "http://3.bp.blogspot.com/-IkCI5Znlz_Y/UoQao6Jjo_I/AAAAAAAAAhQ/6Eu_OdSfjLs/s1600/run_1_sp5..gif"
      "http://pa1.narvii.com/6516/4c00c56b7ef751af32d10cfa71b6b5437100288f_128.gif"
      "https://i.imgur.com/ZmMQJwB.gif"

      sword
      "http://i.imgur.com/3p0tmCI.gif"
      stone
      "https://vignette.wikia.nocookie.net/minecraft/images/6/6a/Emerald.png/revision/latest?cb=20120604083952"
      axe
      "http://www.i2clipart.com/cliparts/6/2/3/1/1281356231ed0e3f929711b6017442806b0c69.png"
      crossbow
      "https://www.shareicon.net/data/128x128/2016/09/02/823983_arrow_512x512.png"

    </tr>
    <tr>
      <td colspan=2 class='cnsl'><div class="status"> <span></span> <br>
          <a href="#">> Attack</a><br>
          <a href="#">> Item</a> <br>
          <a href="#">> Run</a>

        </div></td>
    </tr>
