<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>7 Dragons</title>



      <link rel="stylesheet" href="css/welcome.css">


</head>

<body>






    <div class="content">
        Knight Rider V II
        <a href="http://localhost:8800/Blog">Play</a>

    </div>
    



      <canvas id="c"></canvas>

    <script  src="js/welcome.js"></script>

</body>
</html>
